.navbar
    display: flex

    justify-content: space-between
    & .nav_links
        list-style: none
        display: flex
        & li
            margin-right: 1rem
    input
        width: 500px