@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	width: 80vw;
	height: 550px;
	max-width: 100vw;
	background-color: #eee;
	border-radius: 50px;
	position: relative;
	margin: auto;
}

.prev,
.next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #eee;
	color: #333;
	border: none;
	outline: none;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}

.prev:hover,
.next:hover {
	opacity: 0.8;
}

.prev {
	left: -5%;
}
.next {
	right: -5%;
}

.slides-container {
	width: 100%;
	height: 100%;
}

.slide {
	width: 100%;
	height: 100%;
	align-items: center;
	padding: 25px 50px;
	display: none;
}

.slide.active {
	display: flex;
}

.slide.active .col-left,
.slide.active .col-right {
	animation: fade-in 0.8s 1;
}

@keyframes fade-in {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}

	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.col-left,
.col-right {
	flex: 1;
}

.col-left h2 {
	font-family: 'Bebas Neue', cursive;
	font-size: 50px;
	margin-bottom: 20px;
	color: #333;
	letter-spacing: 3px;
}

.col-left p {
	font-family: 'Poppins', sans-serif;
	color: #777;
	line-height: 1.9;
}

.col-right {
	text-align: center;
	height: 100%;
}

.col-right img {
	height: 100%;
	filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.8));
}
